:host {
    display: block;  
}

.example-chip-list {
    width: 100%;
  }


.reqfb{
    position: absolute;
    width:75%;
    margin-left: 22%;
    margin-top:78px;
}
.a{
    width: 10px;
}

.loading-spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
    stroke: #000000;
  }

  .loading-spinner{
    position: fixed;
    bottom: 0;
    right: 0;

  }
