.sidenav-container {
  height: 100%;
}

.sidenav {
  
  width: 250px;
  background-color:	#B2B9C0;
}

.sidenav-container a:hover{
  color: #FE4D01;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.heading{
  font-family: 'Barriecito', cursive;
  font-size: 40px;
  text-align: center;
}

.sidetext{
  position: relative;
  top: 120px;
}

#logo{
  margin-left:70px;
}

.sidenav a {
 
  font-size: 20px;
  color: black;
  
  
}
.toolbar{
  background-color: amber;
}
.ryth{
  position: absolute;
  top: 3px;
  left: 900px;  

}

.text-block{
  position: absolute;
  text-align: center;
  top: 170px;
  right: 100px;

  color: black;
  padding-left: 70px;
  padding-right: 70px;
  width: 25%;
  height: 50;
  
}