
<div class="jumbotron center">
  <h5>Forgot Password</h5>
  <hr>
  <form (submit)="forgetPasswordSendMail()" >
    Enter your Email:  <input type="email" [formControl]="email" ng-required="true">
    <br>
    <input type="Submit" text="Submit">
  </form>
  <br>
  <br>

    <hr>
    <form (submit)="codeValidation()">
      Enter Confirmation Code sent to your mail:<input type="text" [formControl]="code">
      <br>
      Enter new password:<input type="password" [formControl]="password">
      <br>
      Confirm password:<input type="password" [formControl]="confirmPassword">
      <br>
      <input type="submit">
  
    </form>

</div>
