<!-- <div class="heading">
  <h1 class ="text" >
      <link href="https://fonts.googleapis.com/css?family=Barriecito&display=swap" rel="stylesheet">
    Feedback360
  </h1>
</div> 
    <div class="sidenav">
      
          <div id="logo" >
                <img src="../assets/images/xyz.jpg" style="border-radius: 50%" width=40% height=40% align="center" >
              </div>
                  <div class="text-block">
                    <h4>{{userName}}</h4>
                    <p> {{userDesignation}}</p>
                  </div>
              <div class="sidetext">
                 <a  routerLink="/requestfeedback" ><img src="../assets/images/reqfb.jpg" style="border-radius: 20%" width=10% height=10%> Request Feedback </a>
                 <a  routerLink="/givefeedback" ><img src="../assets/images/gvfb.jpg" style="border-radius: 20%" width=10% height=10%> Give Feedback </a>  
                 <a routerLink="/receivedfeedback" ><img src="../assets/images/rcvfb.jpg" style="border-radius:20%" width=10% height=10%> Received Feedback</a>
                 <a href="#signout"><img src="../assets/images/snot.jpg" style="border-radius: 20%" width=10% height=10%> Sign_Out </a>
              </div>        
</div>
<div class="loading-spinner">
    <mat-spinner *ngIf="showLoading"></mat-spinner>
 </div> -->


<app-sidenav></app-sidenav> 